page {
	--main-color: #ff584f;
	--secondary-color: #a5a5a5;
	--warn-color: #ff924;
	--input-color: #f3f4f6;
	--avatar-default-color: #f3f4f6;
	--hover-color: rgba(255,255,255,0.4);
}

.main-color {
	color: var(--main-color);
}
.input-bg-color {
	background-color: var(--input-color);
}
.secondary-color {
	color:var(--secondary-color);
}